h1{
	
}


.button {
	background-color: #4CAF50; /*Green */
	border: none;
	color: white;
	padding: 15 px 32 px;
	text-align: center;
	text-decoration: none;
	dosplay: inline-block;
	font-size: 16 px;
	margin:4px 2px;
	cursor: pointer;
}